@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'GlacialIndifference';
    src: url('/public/fonts/GlacialIndifference-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
  
  /* Define the bold font */
  @font-face {
    font-family: 'GlacialIndifference';
    src: url('/public/fonts/GlacialIndifference-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
  }

  .hero-section {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }
  
  /* Background image using ::before */
  .hero-section::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../public/home.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  
  /* On mobile, rotate ONLY the background */
  @media (max-width: 768px) {
    .hero-section::before {
      background-image: url("../public/homemobile.jpg");
    }
  }
  
  
